*.cvs
.DS_Store
Thumbs.db
.o 
.pyc 
.class
/bin 
/out 
/target
.log 
.lock 
.tmp
.idea/workspace.xml
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
.eslintrc.json
.htmlhintrc
.stylelintrc
.editorconfig
.github/**
